<footer class="footer">
  <div class="container" style="display: flex; flex-direction: column; align-items: center; gap: 5px;">
    <p>© 2025 Gabriel Machado. Todos os direitos reservados.</p>
    <div style="display: flex; align-items: center; gap: 10px;">
      <span style="font-size: 0.9rem; color: white;">
        Page by 
        <a href="https://wa.me/5532984446243?text=Ol%C3%A1!%20Estou%20em%20busca%20de%20melhorias%20e%20controle%20para%20meu%20neg%C3%B3cio.%20Como%20voc%C3%AA%20pode%20me%20ajudar%20a%20alcan%C3%A7ar%20isso%3F" 
           target="_blank" rel="noopener" 
           style="font-weight: bold; color: white; text-decoration: none;">
          Double A Solutions
        </a>
      </span>
    </div>
  </div>
</footer>
