<app-header></app-header>
<router-outlet></router-outlet>

<div class="float-container">
  <a
    href="https://wa.link/yr36ux" 
    class="float-button whatsapp-float" 
    target="_blank" 
    rel="noopener noreferrer"
    aria-label="Fale agora com Gabriel Machado, seu personal trainer, pelo WhatsApp"
  >
    <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
  </a>

  <a
    href="https://www.instagram.com/gabriel_treinador7?igsh=Y3BuMzNrM3k4YTRt"
    class="float-button instagram-float"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Siga Gabriel Machado no Instagram"
  >
    <img src="assets/icons/instagram-white.svg" alt="Instagram" />
  </a>
</div>


<app-footer></app-footer>
